:host {
  ion-tabs {
    ion-tab-bar {
      border: 0;
	  display: flex;
	  justify-content: space-between;
	  padding: 1px;
	  ion-icon {
		font-size: 20px;
	  }
	  
    }
	ion-tab-button {
        --background: #ffffff;
      }
  }

  .tab-selected{
	  color: #1faa00;
	//   background-color: #1faa00;
	  border-radius: 50px / 50px;
	  max-width: 90px;
	  max-height: 50px;
  }

  .my-label {
    font-size: 12px;
  }
}
