/*
  Authors : dimarket
  Website : https://#/
  App Name : dimarket
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://#/license
  Copyright © 2020-present dimarket.
*/
.inputType{
    margin-bottom: 10px;
    padding:0px 5px;
    box-shadow: 0px 0px 20px -3px rgba(30, 98, 255, 0.3);  
}

ion-datetime {
    --padding-start:0px;
}
.btn_addcard{
    
}