/*
  Authors : dimarket
  Website : https://#/
  App Name : dimarket
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://#/license
  Copyright © 2020-present dimarket.
*/
.couponDesc{
    margin: 0px;
    .code{
        font-weight: bold;
        font-size: 13px;
    }
    .desc{
        font-size: 12px;
    }
}