/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
.popover_setting .popover-content {
    --min-width: 600px !important;
    --min-height: 150px !important;
    --ion-background-color: red;
    --ion-text-color: #ffffff;
    background-color: red;
}